/* enlarge component */
.enlarge {
	overflow: hidden;
  position: relative;
}
.enlarge-zoom {
	overflow: scroll;
	position: relative;
	-webkit-overflow-scrolling: touch;
	margin-right: -20px;
	margin-bottom: -20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.enlarge-hovering .enlarge-zoom {
	overflow: hidden;
}
.enlarge img {
	max-width: none;
	width: 100%;
	-webkit-transform: translateZ(0);
	-webkit-transition: width .2s ease-out;
	-moz-transition: width .2s ease-out;
	-ms-transition: width .2s ease-out;
	-o-transition: width .2s ease-out;
	transition: width .2s ease-out;
}
.enlarge-cropped img {
	position: absolute;
	top: 0;
	left: 0;
}
.enlarge nav {
	position: absolute;
	left: 0;
	top: 0;
}
.enlarge nav button {
	background: none;
	-webkit-appearance: none;
	width: auto;
	white-space: nowrap;
}
.enlarge nav button:hover {
	background: #ccc;
	cursor: pointer;
}
.enlarge nav button:active {
	background: #000;
	color: #fff;
}
