/* enlarge component */
.enlarge {
	position: relative;
}

.enlarge-zoom {
	overflow-x: hidden;
	box-sizing: border-box;
}

.enlarge-in .enlarge-zoom {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.enlarge img {
	max-width: none;
	width: 100%;
	-webkit-transform: translateZ(0);
	-webkit-transition: width .2s ease-out;
	-moz-transition: width .2s ease-out;
	-ms-transition: width .2s ease-out;
	-o-transition: width .2s ease-out;
	transition: width .2s ease-out;
}

.enlarge nav {
	position: absolute;
	left: 0;
	top: 0;
}